{# @var craft \craft\web\twig\variables\CraftVariable #}

<h1>Managing Users</h1>

<h2 data-guide-section>User Roles</h2>
<h2 data-guide-section>Creating a New User</h2>







{#

<h1>CMS Guide</h1>

<p>{{ guideVar("clientName") }}&rsquo;s website was built using the Craft CMS content management system (CMS). While Craft makes content management easy and intuitive, this guide is here to help get you started and to answer a few questions you may have along the way.</p>

<h2 data-guide-section>Dashboard</h2>

<div class="guide_grid guide_grid--image--right">
    <div>
        <p>The first thing you&rsquo;ll see when logging into Craft&rsquo;s Control Panel (CP) is the Dashboard. This page is home to helpful widgets that offer information about your website. The Dashboard is customizable for each user, so you may add, remove, and re-arrange the layout of the widgets you find most useful.</p>
    </div>
    {{ guideAsset('guide-admin-bar.png') }}
</div>

{% if pluginEnabled('admin-bar') %}
    <h2 data-guide-section>Admin Bar</h2>

    <div class="guide_grid guide_grid--image--right">
        <div>
            <p>When logged in and visiting the front-end of the {{ guideVar("clientName") }} website, you&rsquo;ll see a shortcut bar along the top of the screen. The Admin Bar helps you to quickly get back to the CP, to edit the current page, and to log out of the CMS.</p>
            <p>The links in Admin Bar can be customized, so if you find yourself frequenting a page in the CP, a shortcut to that page can be added in Admin Bar&rsquo;s settings.</p>
        </div>
        {{ guideAsset('guide-admin-bar.png') }}
    </div>
{% endif %}

#}