<h1>Craft CMS</h1>

<p>{{ craft.guide.var("clientName") }}&rsquo;s website was built using the Craft CMS content management system (CMS). While Craft makes content management easy and intuitive, this guide is here to help get you started and to answer a few questions you may have along the way.</p>

<hr>

<h2>Dashboard</h2>

<grid grid-type="2-column">
    <div>
        <p>The first thing you&rsquo;ll see when logging into Craft&rsquo;s Control Panel (CP) is the Dashboard. This page is home to helpful widgets that offer information about your website. The Dashboard is customizable for each user, so you may add, remove, and re-arrange the layout of the widgets you find most useful.</p>
    </div>
    <div>
        {{ craft.guide.component('image', { asset: craft.assets.filename('index-dashboard.png').one() }) }}
    </div>
</grid>

{% if plugin('admin-bar') %}
    <hr>

    <h2>Admin Bar</h2>

    <grid grid-type="2-column">
        <div>
            <p>When logged in and visiting the front-end of the {{ craft.guide.var("clientName") }} website, you&rsquo;ll see a shortcut bar along the top of the screen. Admin Bar helps you to quickly get back to the CP, to edit the current page, and to log out of the CMS.</p>
            <p>The links in Admin Bar can be customized, so if you find yourself frequenting a page in the CP, a shortcut to that page can be added in Admin Bar&rsquo;s settings.</p>
        </div>
        <div>
            {{ craft.guide.component('image', { asset: craft.assets.filename('index-admin-bar.png').one() }) }}
        </div>
    </grid>
{% endif %}

<hr>

<h2>Guide</h2>

<p>Your CMS Guides is built within the Craft CP and can be accessed in three different ways:</p>

<grid grid-type="3-column">
    <div>
        <h3>Dashboard Widgets</h3>
        <p>Guides can be shown on your dashboard by adding a new Guide widget and selecting the guide that you would like to display.</p>
    </div>
    <div>
        <h3>Guide CP Section</h3>
        <p>The Guide link in the CP sidebar takes you to your CMS guide pages. The Guide sidebar menu lets you navigate the different pages and sections in your guide.</p>
    </div>
    <div>
        <h3>Edit Pages</h3>
        <p>When editing entries, categories, and users, a list of guides will appear in the right-hand sidebar. Clicking on a guide title will pop the guide up in a modal so you can refer back to it without leaving the page you are in the progress of editing.</p>
    </div>
</grid>